# Supabase Configuration
SUPABASE_URL=https://bcrumhdbjmdnlvazufoo.supabase.co
SUPABASE_ANON_KEY=sb_publishable_k4f5HrveigHXD-IMHQ01Lg_x9IVY9m7

# Email Configuration (Gmail)
EMAIL_USER=mibtechsolutions@gmail.com
EMAIL_PASS=rbds gjcu bknc ywkf
RECIPIENT_EMAIL=your_email@gmail.com

# Server Port
PORT=3001
